.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-cell {
    width: 100%;
    background-color: aquamarine;
    flex: 10 10 300px;
}

.mat-cell {
    width: 100%;
    height: 100px;
    flex: 10 10 300px;
}

.mat-column-make .mat-column-model {
    flex: 10 10 300px;
}

